{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>TreasureGram</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top text-center">
    <h1>TreasureGram</h1>
</nav>
<main class="container" role="main">
    {% for treasure in treasures %}
    <div class="treasure panel panel-default">
        <h2 class="panel-title">{{ treasure.name }}</h2>
    </div>
    <div class="panel-body">
        <table class="treasure-table">
            <tr>
                <th>Material:</th>
                <td>{{ treasure.material }}</td>
            </tr>
            <tr>
                <th>Value:</th>
                <td>
                    {% if treasure.value > 0 %}
                        {{ treasure.value }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</main>
</body>
</html>